name: Cargo Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly-2025-07-17
          components: rustfmt
      - run: cargo fmt --all -- --check
  # clippy:
  #   name: Clippy
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v5
  #     - uses: dtolnay/rust-toolchain@nightly
  #       with:
  #         toolchain: nightly-2025-07-17
  #     - run: cargo clippy --all-targets -- -D warnings
